@media (max-width: 1024px) {
  .selectMovieCard__item {
    flex-direction: column;
  }

  .selectMovieCard__title {
    margin-top: 20px;
  }

  .slideMovie-slider__wrapper {
    height: 400px;
  }
}

@media (max-width: 992px) {
  .swiper-slider__image,
  .selectMovieCard {
    background-position: center center;
  }
}

@media (max-width: 768px) {
  nav {
    display: none;
  }

  .bm-burger-button {
    display: block;
  }

  .searchBar {
    width: 350px;
  }

  .selectMovieCard__genVote {
    justify-content: center;
  }

  .selectMovieCard__title {
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
  }

  .backdrops__slider {
    height: 400px;
  }

  .selectMovieCard__content {
    width: 600px;
  }

  .slideMovie-slider__wrapper {
    height: 300px;
  }

  .selectMovieCard__like {
    justify-content: center;
  }
}

@media (max-width: 668px) {
  .swiper-slider__content {
    width: auto;
  }

  .swiper-container {
    width: 640px;
  }

  .swiper-slider__title {
    font-size: 30px;
  }

  .slideMovie-title__main {
    font-size: 25px;
  }

  .backdrops__slider {
    height: 350px;
  }

  .selectMovieCard__content {
    width: 600px;
    margin-left: 0;
  }

  .slideMovie-slider__wrapper {
    height: 300px;
  }

  .google-img {
    width: 25px;
    height: 25px;
  }

  .button-with-google {
    font-size: 14px;
  }
  .selectMovieCard__title, .selectMovieCard__overview {
    position: relative;
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
  }
}

@media (max-width: 568px) {
  .actors__img {
    height: auto;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__item {
    margin-bottom: 20px;
  }

  .slideMovie__content-img {
    width: 30px;
    height: 30px;
  }

  .slideMovie__title {
    bottom: 10px !important;
    font-size: 12px !important;
  }

  .selectMovieCard__title,
  .selectMovieCard__overview {
    position: relative;
    max-width: 350px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    text-align: center;
  }

  .actors__img {
    width: 100%;
  }

  .swiper-button-next {
    top: 162px;
    right: 60px;
  }

  .swiper-button-prev {
    top: 162px;
    left: 60px;
  }

  .header__profile {
    right: 0px;
   
  }

  .header__login-img {
    width: 20px;
    height: 20px;
  }

  .swiper-slider__text {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .actors__img {
    height: auto;
  }

  .backdrops__slider {
    height: 300px;
  }

  .backdrops__slider {
    height: 350px;
  }

  .slideMovie-slider__wrapper {
    height: 200px;
  }

  .swiper-button-next {
    right: 110px;
  }

  .swiper-button-prev {
    left: 110px;
  }

  form {
    max-width: 300px;
  }

  .login-page {
    width: 300px;
  }

  .form-btn {
    font-size: 10px !important;
  }

  .selectMovieCard__genVote {
    flex-direction: column;
  }

  .selectMovieCard__genres {
    margin-bottom: 30px;
  }

  .swiper-genres__name {
    margin-bottom: 10px;
  }
}
