@media (max-width: 1024px) {
  .selectMovieCard__item {
    flex-direction: column;
    top: -150px;
  }

  .selectMovieCard {
    background-attachment: initial;
    background-position: center center;

    &::before,
    &::after {
      height: 50vh;
    }
  }

  .trailerVideo {
    margin-top: -150px;
  }

  .selectMovieCard-item__img {
    width: 500px;
  }

  .selectMovieCard__title {
    margin-top: 20px;
    text-align: center;
  }

  .selectMovieCard__like,
  .selectMovieCard__genVote {
    justify-content: center;
  }

  .slideMovie-slider__wrapper {
    height: 400px;
  }

  .selectMovieCard__content {
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .swiper-slider__image,
  .selectMovieCard {
    background-position: center center;
  }
}

@media (max-width: 768px) {
  nav {
    display: none;
  }

  .bm-burger-button {
    display: block;
  }

  .searchBar {
    width: 500px;
  }

  .selectMovieCard__genVote {
    justify-content: center;
  }

  .selectMovieCard__title {
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
  }

  .backdrops__slider {
    height: 100%;
  }

  .selectMovieCard__content {
    width: 100%;
  }

  .slideMovie-slider__wrapper {
    height: 300px;
  }

  .selectMovieCard__like {
    justify-content: center;
  }
}

@media (max-width: 668px) {
  .swiper-slider__content {
    width: auto;
  }

  .swiper-container {
    width: 640px;
  }

  .swiper-slider__title {
    font-size: 30px;
  }

  .slideMovie-title__main {
    font-size: 25px;
  }

  .backdrops__slider {
    height: 100%;
  }

  .selectMovieCard__content {
    width: 100%;
    margin-left: 0;
  }

  .slideMovie-slider__wrapper {
    height: 300px;
  }

  .google-img {
    width: 25px;
    height: 25px;
  }

  .button-with-google {
    font-size: 14px;
  }
  .selectMovieCard__title,
  .selectMovieCard__overview {
    position: relative;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
  }
}

@media (max-width: 568px) {
  .searchBar {
    width: 370px;
  }

  .searchBar__btn {
    padding: 13px;
    top: 84px;
    right: 53px;
  }

  .categoryBtn-item  {
    padding: 10px 20px !important;
  }

  .selectMovieCard {
    background-attachment: initial;
  }

  .selectMovieCard-item__img {
    width: auto;
  }

  .actors__img {
    height: auto;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__item {
    margin-bottom: 20px;
  }

  .slideMovie__content-img {
    width: 30px;
    height: 30px;
  }

  .slideMovie__title {
    bottom: 10px !important;
    font-size: 12px !important;
  }

  .selectMovieCard__title,
  .selectMovieCard__overview {
    position: relative;
    max-width: 350px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    text-align: center;
  }

  .actors__img {
    width: 100%;
  }

  .header__profile {
    right: 20px;
  }

  .header__login-img {
    width: 20px;
    height: 20px;
  }

  .swiper-slider__text {
    max-width: 310px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .actors__img {
    height: auto;
  }

  .backdrops__slider {
    height: 100%;
  }

  .slideMovie-slider__wrapper {
    height: 200px;
  }

  form {
    max-width: 300px;
  }

  .login-page {
    width: 300px;
  }

  .form-btn {
    font-size: 10px !important;
  }

  .selectMovieCard__genVote {
    flex-direction: column;
  }

  .selectMovieCard__genres {
    margin-bottom: 30px;
  }

  .swiper-slider__content {
    left: 0;
  }

  .swiper-slider__genres {
    flex-direction: column-reverse;
  }

  .swiper-genres__name {
    margin: 0 15px 10px 0 ;
  }
}
