@import '../../variables/variables.scss';

.swiper {
  width: 100%;
  height: 100vh;
  z-index: 0 !important;
}

.swiper-slider__image {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 10%, transparent 100%);
  }
}

.swiper-slider__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  width: 600px;
}

.swiper-slider__title {
  font-size: $title-size;
  font-weight: $fw700;
}

.swiper-slider__text {
  font-size: $text-size;
  line-height: 1.2;
}

.swiper-slider__genres {
  display: flex;
  flex-direction: row-reverse;
}

// .progress-bar {
//   height: 70px;
//   font-weight: bold;
//   margin: 20px 0;
// }

.watchNow__btn {
  margin-top: 20px;
  @include watchNow-btn;
}

.watchNow-play__btn {
  width: 15px;
  height: 15px;
}

.swiper-genres__name {
  margin-left: 15px;
  font-weight: bold;
  background: $bg-color-red;
  padding: 7px 3px;
  border-radius: 10px;
}

.swiper-genres__item {
  display: flex;
  align-items: center;
}
